:root {
  --text-color: #333;
  --bg-color: white;
  --corporate-orange: #f07e0f;
  --corporate-blue: #1aa2dd;
  --corporate-emerald: #37abb8;
  --corporate-emerald-darken: #1c5b57;
  --corporate-light-green: #8bc041;
  --corporate-blue-darken: #065b8c;
  --danger-color: #dc3545;
  --corporate-grey: #969ba5;
  --corporate-grey-darken: #74787f;
  --gutter-width: 24px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: var(--text-color);
  margin: 0;
  font-family: 'Montserrat', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 1.6rem;
}

header {
  font-size: 3.2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 8rem;
  line-height: 8rem;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.layout main {
  flex-grow: 2;
}

.layout footer {
  padding: var(--gutter-width);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

h3,
h4,
h5,
h6 {
  font-weight: 300;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
