:root {
  --text-color: #333;
  --bg-color: white;
  --corporate-orange: #f07e0f;
  --corporate-blue: #1aa2dd;
  --corporate-emerald: #37abb8;
  --corporate-emerald-darken: #1C5B57;
  --corporate-light-green: #8bc041;
  --corporate-blue-darken: #065b8c;
  --danger-color: #dc3545;
  --corporate-grey: #969ba5;
  --corporate-grey-darken: #74787f;
  --gutter-width: 24px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: var(--text-color);
  margin: 0;
  font-family: 'Montserrat', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 1.6rem;
}

button {
  background-color: var(--corporate-grey);
  color: var(--bg-color);
  border: none;
  border-radius: 0.4rem;
  padding: 1.2rem;
  font-size: 2rem;
  box-shadow: 0 3px 0 var(--corporate-grey-darken);
}

button:disabled {
  opacity: 0.8;
}

button:active {
  box-shadow: 0 2px 0 var(--corporate-grey-darken);
  transform: translateY(1px);
  outline: none;
}

button:focus {
  outline: none;
}

button .icon {
  font-size: 1.8rem;
}

header {
  font-size: 3.2rem;
  text-align: center;
  margin: 0.5rem 0;
  padding: 0;
  height: 6.4rem;
  line-height: 6.4rem;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.layout main {
  flex-grow: 2;
}