:root {
  --text-color: #333;
  --bg-color: white;
  --corporate-orange: #f07e0f;
  --corporate-blue: #1aa2dd;
  --corporate-emerald: #37abb8;
  --corporate-emerald-darken: #1C5B57;
  --corporate-light-green: #8bc041;
  --corporate-blue-darken: #065b8c;
  --danger-color: #dc3545;
  --corporate-grey: #969ba5;
  --corporate-grey-darken: #74787f;
  --gutter-width: 24px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: var(--text-color);
  margin: 0;
  font-family: 'Montserrat', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 1.8rem;
}


header {
  font-size: 3.2rem;
  text-align: center;
  margin: 0.5rem 0;
  padding: 0;
  height: 6.4rem;
  line-height: 6.4rem;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.layout main {
  flex-grow: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

footer {
  display: flex;
}

footer button:first-child {
  margin: auto;
}